{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<br> <br> <br> <br> <br> 
 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Merci de vous connecter</h1>
                    <hr>
                    <form method="post" class="form-signin">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
                        <br>
                        <label for="inputPassword" class="sr-only">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <hr>
                        <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Se Connecter
                        </button>
                        <hr>
<p class="text-center"><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>?</p>

                        <p class="text-center">Ou <a href="{{path ('inscription')}}">Créer un compte</a>?</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

